.card {
    margin: 15px auto; 
    float: none; 
    margin-bottom: 10px;
    width: 120%;
    height: 40%;
    background-color:rgb(185, 182, 185);
}
.btn.btn-primary{
    margin:5px;
    
}
.btn.btn-danger{
    margin:5px;
    
}
#buttons{
    float: right;
}